.linkedSquare {
    float: right;   
}

body {
    max-width:  960px;
    position: relative;
}

.text {
    color: white;
}

.content {
    margin: auto;
    background: url('http://www.teamopenoffice.org/pimages/1/15856/water-live-wallpaper.jpg');
    font-family: 'Lato', sans-serif;
}
.top {
    background: white;
}

.container {    
    padding: 20px;
    padding-bottom: 50px;
    background: rgba(0,0,0,.6);
}
.page {
    color: #43C1E9;
    
}

.name {
    float: left; 
    color: #43C1E9;
    padding: 30px 20px 30px 20px;
    margin: 0 auto;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    }

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #777777;
    text-align: center;
    padding: 14px 16px 5px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 58px;
    margin-bottom: 5px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #43C1E9;
    color: white;
    position: sticky;
}


placeholder {
    color: #cccccc;
}

#submit {
    background: #43C1E9;
    width: 100px;
    padding: 15px;
}

input {
    border: solid 1px #cccccc;
    width: 95%;
    padding: 8px;
}

input[type=text]:focus {
    border: 3px solid #555;
}


.wow {
    margin: 0 20px;
}

footer {
    clear: both;
    position: absolute; 
    text-align: center; 
    bottom: 0;
    width: 100%;
    max-width: 960px;
}

@media screen and (max-width: 960px) {



}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 640px) {
    position: static;
}